<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>売上一覧</title>
</head>
<body>
    <h1>売上一覧</h1>
    <div class="search_form">
        <form method="get" th:action="@{/search}">
            <div class="form_date">
                <label>年月</label>
                <input name="date" type="month" id="date"  >
            </div>
            <div class="search_submit">
                <input type="submit" value="検索">
            </div>
        </form>
    </div>

    <h2>一覧</h2>
    <table class="proceeds_table">
        <thead>
        <tr>
            <th>日付</th>
            <th>担当者</th>
            <th>顧客名</th>
            <th>売上</th>
            <th>入金額</th>
        </tr>
        </thead>
        <tbody id="proceeds_body">
            <tr th:each="list : ${proceedsList}">
                <td th:text="${list.date}"></td>
                <td th:text="${list.manager}"></td>
                <td th:text="${list.client}"></td>
                <td th:text="${list.prceeds}"></td>
                <td th:text="${list.payment}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>