<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>売上追加</title>
</head>
<body>
<h2>売上追加</h2>
<form  th:action="@{/proceeds/add}">

  <label>日付</label>
  <input name="date" type="date">
  <label>売上</label>
  <input name="proceeds" type="text">
  <label>経費</label>
  <input name="cost" type="text">
  <label>入金額</label>
  <input name="payment" type="text">
  <label>概要</label>
  <input name="content" type="text" >
  <label>担当者</label>
  <input type="hidden" name="client_id" th:value="${id}" />
  <select name="manager_id">
    <option
            th:each="manager : ${managerList}"
            th:value="${manager.id}"
            th:text="${manager.managerName}"
            th:selected="${manager.id == selectedValue}">
    </option>
  </select>
  <input type="submit" value="登録">
</form>

</body>
</html>